<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP2_LP1_Clase03.Properties.Settings.cadena" connectionString="Data Source=DESKTOP-6II5VON\SQLEXPRESS;Initial Catalog=TP2-LP1-202402;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>